
{{>head}}
{{> navbar }}        

    <div class="row">
                    
        <div class="col-8">
           <h1>
               SERVICIOS
           </h1> 
           <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quidem veritatis libero possimus similique neque, repellendus recusandae fugiat deserunt reprehenderit nulla laudantium debitis assumenda, natus velit dolor nihil perspiciatis quia.
           </p>
        </div>

        <div class="col-4">
             <img src="assets/img/item.3.jpg" class="img-fluid" alt="Responsive image">       
        </div>

  

    </div>
{{>footer}}